<div class="card-element-container">
  <div class="card">
    <img src="{{ image }}" alt="{{ name }}">
    <h2>{{ title }}</h2>
    <h3>{{ name }}</h3>
    <p>{{ time }}</p>
    <p>{{ avater }}</p>
    <div class="card-actions">
      <button (click)='likeEvent()'>Like</button>
      <button (click)='shareEvent()'>Share</button>
      <button (click)='commentEvent()'>Comment</button>
    </div>
  </div>
  <div class="card">
    <img src="{{ image }}" alt="{{ name }}">
    <h2>{{ title }}</h2>
    <h3>{{ name }}</h3>
    <p>{{ time }}</p>
    <p>{{ avater }}</p>
    <div class="card-actions">
      <button (click)='likeEvent()'>Like</button>
      <button (click)='shareEvent()'>Share</button>
      <button (click)='commentEvent()'>Comment</button>
    </div>
  </div>
  <div class="card">
    <img src="{{ image }}" alt="{{ name }}">
    <h2>{{ title }}</h2>
    <h3>{{ name }}</h3>
    <p>{{ time }}</p>
    <p>{{ avater }}</p>
    <div class="card-actions">
      <button (click)='likeEvent()'>Like</button>
      <button (click)='shareEvent()'>Share</button>
      <button (click)='commentEvent()'>Comment</button>
    </div>
  </div>
</div>
